@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 210 24% 24%;
    --card: 0 0% 100%;
    --card-foreground: 210 24% 24%;
    --popover: 0 0% 100%;
    --popover-foreground: 210 24% 24%;
    --primary: 210 24% 24%;
    --primary-foreground: 0 0% 100%;
    --secondary: 211 25% 84%;
    --secondary-foreground: 210 24% 24%;
    --muted: 214 27% 97%;
    --muted-foreground: 212 15% 65%;
    --accent: 211 25% 84%;
    --accent-foreground: 210 24% 24%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    --border: 211 25% 84%;
    --input: 211 25% 84%;
    --ring: 210 24% 24%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground antialiased;
  }
}
